/*CSS - Text font*/
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
/*CSS - Variables*/
:root {
  --color-tittle-and-comments: hsl(300, 43%, 22%);
  --color-work-description: hsl(333, 80%, 67%);
  --color-text-presentation: hsl(303, 10%, 53%);
  --color-review-product: hsl(300, 24%, 96%);
  --color-background: hsl(0, 0%, 100%);
}
/*CSS - Normalize*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*CSS - Reusable code*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*CSS - Reusable code*/
.flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/**CSS - Container component**/
body {
  padding-top: 25vh;
  padding-left: 5vw;
  padding-right: 5vw;
}
.comment-product {
  font-size: 0.625rem;
  background-color: var(--color-tittle-and-comments);
  max-width: 50em;
  min-width: 22.8em;
  padding: 6.2em 4.8em;
  margin: auto;
  border-radius: 10px;
  font-family: "Spartan", sans-serif;
}
.info-user {
  /*--flex-center*/
  justify-content: flex-start;
}
.info-user__container {
  font-size: 1em;
  margin-left: 2.8em;
}
.info-user__user-image {
  width: 5.4em;
  border-radius: 50%;
}
.info-user__name {
  font-size: 1.6em;
  color: var(--color-review-product);
  margin-bottom: 0.6em;
}
.info-user__profesion {
  font-size: 1.6em;
  color: var(--color-work-description);
}
.comment-product__text {
  font-size: 1.8em;
  margin-top: 2em;
  color: var(--color-review-product);
  line-height: 1.66em;
}
@media screen and (max-width: 1200px) {
  body {
    padding-top: 10vh;
  }
  .comment-product {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1000px) {
  .comment-product {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 800px) {
  .comment-product {
    font-size: 0.625rem;
  }
}
@media screen and (max-width: 400px) {
  .comment-product {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 300px) {
  .comment-product {
    font-size: 0.3125rem;
  }
}
