/*CSS - Text font*/
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
/*CSS - Variables*/
:root {
  --color-tittle: hsl(300, 43%, 22%);
  --color-job: hsla(333, 80%, 67%, 0.795);
  --color-presentation: hsl(303, 10%, 53%);
  --color-score: hsl(300, 24%, 96%);
  --color-background: hsl(0, 0%, 100%);
}
/*CSS - Normalize*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*CSS - Reusable code*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/**CSS - root**/
html {
  font-size: 62.5%;
}
/**CSS - Container component**/
body {
  background-color: var(--color-background);
  background-size: 40vw, 80vw;
  background-image: url(../images/bg-pattern-top-desktop.svg),
    url("../images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: left 0vw top 0vh, right 0 bottom 0;

  font-family: "Spartan", sans-serif;
}
.main-page {
  width: 100vw;
  margin-top: 10vh;
}
.social-proof {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 80%;

  margin: auto;
}
/**/
.social-proof__info {
  flex-basis: 50%;

  display: flex;
}
.social-proof__opinions {
  flex-basis: 50%;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding-top: 6rem;
}
/**/
.social-proof__text {
  flex-basis: 46%;
}
.social-proof__score {
  flex-basis: 54%;
}
.social-proof__tittle {
  color: var(--color-tittle);
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 5.6rem;
  letter-spacing: -0.2rem;

  padding-right: 10rem;
  margin-bottom: 2rem;
}
.social-proof__description {
  color: var(--color-presentation);
  font-size: 1.6rem;
  font-weight: 500;

  padding-right: 6rem;
}
/**/
.user-score {
  background-color: var(--color-score);
  color: var(--color-tittle);

  display: flex;
  flex-basis: 100%;
  align-items: center;
  flex-wrap: wrap;

  margin-top: 1.6rem;
  padding: 1rem 3rem;

  border-radius: 0.8rem;
}
.user-score__box-image {
  display: inline-block;

  margin-right: 3rem;
}
.user-score__image {
  width: 1.8rem;
  margin-right: 0.6rem;
}
.user-score__box-text {
  display: inline-block;
}
.user-score__text {
  font-size: 1.4rem;
  font-weight: 700;

  margin: 1rem 0;
}
/*------*/
.user-score--start {
  margin-right: 16rem;
}
.user-score--center {
  margin-right: 8rem;
  margin-left: 8rem;
}
.user-score--end {
  margin-left: 16rem;
}
/**/
.user-opinion {
  background-color: var(--color-tittle);
  color: var(--color-background);
  width: 32%;

  border-radius: 0.8rem;
}
.user-info {
  display: block;

  padding: 3rem 3.6rem;
  padding-top: 3.6rem;
}
.user-info__box-image {
  display: inline-block;
}
.user-info__image {
  width: 4.6rem;
  border-radius: 100%;
}
.user-info__presentation {
  position: relative;
  display: inline-block;
  font-size: 1.4rem;

  margin-left: 3rem;
  top: -0.8rem;
}
.user-info__name {
  display: block;
  margin-bottom: 0.8rem;
}
.user-info__job {
  color: var(--color-job);
  display: block;
}
.user-opinion__text {
  display: block;

  font-size: 136%;
  line-height: 2.2rem;

  padding: 0 3.6rem;
  padding-bottom: 3.6rem;
}
/**/
.user-opinion--margin {
  margin-left: 3rem;
  margin-right: 3rem;
}
.user-opinion--start {
}
.user-opinion--center {
  position: relative;
  margin-top: 2rem;
}
.user-opinion--end {
  position: relative;
  margin-top: 4rem;
}

@media screen and (max-width: 1250px) {
  html {
    font-size: 50%;
  }
}
@media screen and (min-width: 1900px) {
  html {
    font-size: 100%;
  }
}
@media screen and (max-width: 720px) {
  body {
    background-image: url("../images/bg-pattern-top-mobile.svg");
    background-size: contain;
    background-position: left top;
  }
  html {
    font-size: 62.5%;
  }
  .social-proof {
    width: 90%;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  /**/
  .social-proof__info {
    flex-direction: column;

    text-align: center;
  }
  .social-proof__opinions {
    flex-direction: column;

    padding-top: 80px;
  }
  /*--*/
  .social-proof__tittle {
    font-size: 6rem;
    display: block;
    margin: 0;
    padding: 0 40px;
    margin-bottom: 30px;
  }
  .social-proof__description {
    font-size: 3rem;
    display: block;
    padding: 0;

    margin-bottom: 60px;
  }
  /*--*/
  .social-proof__score {
    padding: 0;
  }
  .user-score {
    margin: 0;
    margin-top: 1.6rem;

    flex-direction: column;
    justify-content: center;

    padding: 20px 40px;
  }
  .user-score__box-image {
    display: block;
    margin: 0;

    margin-bottom: 10px;
  }
  .user-score__image {
    width: 24px;
  }
  .user-score__box-text {
    display: block;
  }
  .user-score__text {
    font-size: 20px;
  }
  /**/
  .user-opinion {
    width: 100%;

    margin: 0;
    margin-bottom: 20px;
  }
  .user-info {
    padding: 6rem;
    padding-bottom: 3rem;
  }
  .user-info__image {
    width: 6rem;
  }
  .user-info__presentation {
    font-size: 1.8rem;
  }
  .user-opinion__text {
    font-size: 1.8em;

    padding: 0 6rem;
    padding-bottom: 6rem;
  }
}
