/*CSS - Text font*/
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
/*CSS - Variables*/
:root {
  --color-tittle: hsl(300, 43%, 22%);
  --color-job: hsla(333, 80%, 67%, 0.795);
  --color-presentation: hsl(303, 10%, 53%);
  --color-score: hsl(300, 24%, 96%);
  --color-background: hsl(0, 0%, 100%);
}
/*CSS - Normalize*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*CSS - Reusable code*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/**CSS - root**/
html {
  font-size: 62.5%;
}
/**CSS - Container component**/
body {
  height: 100vh;

  background-color: var(--color-background);
  background-size: 40vw, 80vw;
  background-image: url(../images/bg-pattern-top-desktop.svg),
    url("../images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: left 0vw top 0vh, right 0 bottom 0;
  font-family: "Spartan", sans-serif;
}
/*CSS - Component*/
.social-proof {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  padding: 0 18rem;
  padding-top: 12rem;
  padding-bottom: 4rem;
  margin: auto;
}
/*CSS - Info and Opinions section*/
.social-proof__info {
  flex-basis: 50%;

  display: flex;
}
.social-proof__opinions {
  flex-basis: 50%;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding-top: 6rem;
}
/*CSS - Presentation and Score section*/
.social-proof__text {
  flex-basis: 46%;
}
.social-proof__score {
  flex-basis: 54%;
}
/*CSS - Score component*/
.social-proof__tittle {
  color: var(--color-tittle);
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 5.6rem;
  letter-spacing: -0.2rem;

  padding-right: 10rem;
  margin-bottom: 2rem;
}
.social-proof__description {
  color: var(--color-presentation);
  font-size: 1.6rem;
  font-weight: 500;

  padding-right: 6rem;
}
/*CSS - Score section*/
.user-score {
  background-color: var(--color-score);
  color: var(--color-tittle);

  display: flex;
  align-items: center;

  margin-top: 1.6rem;
  padding: 1rem 3rem;

  border-radius: 0.8rem;
}
.user-score__box-image {
  flex: 0 0 auto;

  margin-right: 3rem;
}
.user-score__image {
  width: 1.8rem;
  margin-right: 0.6rem;
}
.user-score__box-text {
  flex: 1 1 auto;
}
.user-score__text {
  font-size: 1.4rem;
  font-weight: 700;

  margin: 1rem 0;
}
/*--CSS - Score component - Modifiers--*/
.user-score--start {
  margin-right: 16rem;
}
.user-score--center {
  margin-right: 8rem;
  margin-left: 8rem;
}
.user-score--end {
  margin-left: 16rem;
}
/*CSS - Opionions component*/
.user-opinion {
  background-color: var(--color-tittle);
  color: var(--color-background);
  width: 32%;

  padding: 4.8rem 3.4rem;
  border-radius: 2rem;
}
.user-info {
  padding-bottom: 3rem;

  display: flex;
  align-items: center;
}
.user-info__image {
  width: 4.8rem;
  border-radius: 100%;
}
.user-info__presentation {
  display: inline-block;
  font-size: 1.4rem;

  margin-left: 3rem;
}
.user-info__name {
  display: block;
  margin-bottom: 0.8rem;
}
.user-info__job {
  color: var(--color-job);
  display: block;
}
.user-opinion__text {
  font-size: 136%;
  font-weight: 400;
  line-height: 2.2rem;
}
/*CSS - Opionions component - Modifiers*/
.user-opinion--margin {
  margin-left: 3rem;
  margin-right: 3rem;
}
.user-opinion--center {
  margin-top: 2rem;
}
.user-opinion--end {
  margin-top: 4rem;
}
/*CSS - Changes for the adaptation responsive*/
@media screen and (min-width: 1900px) {
  html {
    font-size: 100%;
  }
}
@media screen and (max-width: 1440px) {
  html {
    font-size: 56%;
  }
}
@media screen and (max-width: 1250px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 43.2%;
  }
}
@media screen and (max-width: 900px) {
  html {
    font-size: 38.2%;
  }
}
/*CSS - Changes for the adaptation of the mobile*/
@media screen and (max-width: 780px) {
  body {
    height: auto;

    background-image: url("../images/bg-pattern-top-mobile.svg"),
      url("../images/bg-pattern-bottom-mobile.svg");
    background-size: contain, contain;
    background-position: left top right bottom;
  }
  html {
    font-size: 62.5%;
  }
  /*CSS - Component*/
  .social-proof {
    padding: 0 3rem;
    padding-top: 16rem;
    padding-bottom: 16rem;
  }
  /*CSS - Info section*/
  .social-proof__info {
    flex-direction: column;

    text-align: center;
  }
  /*CSS - Opinions section*/
  .social-proof__opinions {
    flex-direction: column;

    padding-top: 8rem;
  }
  /*CSS - Opionions component*/
  .social-proof__tittle {
    font-size: 6rem;

    margin: 0;
    padding: 0 4rem;
    margin-bottom: 3rem;
  }
  .social-proof__description {
    font-size: 3rem;

    padding: 0;
    margin-bottom: 6rem;
  }
  /*CSS - Score section*/
  .social-proof__score {
    padding: 0;
  }
  /*CSS - Score component*/
  .user-score {
    margin: 0;
    margin-top: 2rem;

    flex-direction: column;
    justify-content: center;

    padding: 2rem 4rem;
  }
  .user-score__box-image {
    margin: 0;

    margin-bottom: 1rem;
  }
  .user-score__image {
    width: 2.4rem;
  }
  .user-score__text {
    font-size: 2rem;
  }
  /*CSS - Opinion component*/
  .user-opinion {
    width: 100%;
    flex-basis: auto;

    margin: 0;
    padding: 8rem 6rem;
    margin-bottom: 4rem;
  }
  .user-info {
    padding-bottom: 4rem;
  }
  .user-info__image {
    width: 8rem;
  }
  .user-info__presentation {
    font-size: 2.6rem;
  }
  .user-opinion__text {
    font-size: 2.8rem;
    line-height: 4.2rem;
  }
}
@media screen and (max-width: 620px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 41%;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 37.5%;
  }
}
@media screen and (max-width: 360px) {
  html {
    font-size: 31.25%;
  }
}
@media screen and (max-width: 260px) {
  html {
    font-size: 25%;
  }
}
